@charset "utf-8";
/* CSS Document */
body {
	width: 100%;
	height: 100%;
	font-family:Tahoma, Geneva, sans-serif;
	overflow-y: scroll;
	margin: 0px;
}
/* Menu */
.procurar {
	background:url(../imagens/pesquisa_icone.png) no-repeat;
}
/* ACORDEON */
.accordionButton {	
	width: 96%;
	background: -moz-linear-gradient(top, #006665, #09a1a1);
	background: -webkit-gradient(linear, left top, left bottom, from(#006666), to(#09a1a1));
	background-image: -o-linear-gradient(top, #006666, #09a1a1);
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#007FFF', EndColorStr='#4985C5');
	border-bottom: 1px solid #FFFFFF;
	cursor: pointer;
	color: #fff;
	margin:20px auto 0px;
	padding:10px 0px 10px 20px;
	border: #fff solid 1px;
	border-radius:10px 10px 0px 0px;
}
.pos{ float:right;width:300px; }	
.accordionContent {	
	width: 96%;
	margin:auto;
	padding:10px;
	background: #FFFFFF;
	color: rgb(100, 100, 100);
	text-shadow: 0px 1px 0px rgb(243, 243, 243);
	border-left: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-radius: 0px 0px 20px 20px;
}
.on {
	background: #006666;
	color: #fff;
}	
.over {
	color: white;
	background: #09a1a1;
}
/*FIM ACORDEON*/
/* Fim menu */
.botao {
	background: #ddd;
	outline: none !important;
	padding: 5px 5px 5px 10px;
	border-color: #ccc;
	width: 100px;
	color: #888;
	
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	
	box-shadow: inset 3px 3px 10px #7e7e7e;
	-webkit-box-shadow: inset 3px 3px 10px #7e7e7e;
	-moz-box-shadow: inset 3px 3px 10px #7e7e7e;
	-ms-box-shadow: inset 3px 3px 10px #7e7e7e;
	behavior: url(ie-css3.htc);
	
	float:rigth;
}
.botao:hover {
	background: #09A1A1;
	box-shadow: inset 3px 3px 10px #59DEFF;
	-webkit-box-shadow: inset 3px 3px 10px #59DEFF;
	-moz-box-shadow: inset 3px 3px 10px #59DEFF;
	-ms-box-shadow: inset 3px 3px 10px #59DEFF;
	behavior: url(ie-css3.htc);
	color: #FFF;
}
.botao:focus {
	background: #09F;
	box-shadow: inset 3px 3px 10px #59DEFF;
	-webkit-box-shadow: inset 3px 3px 10px #59DEFF;
	-moz-box-shadow: inset 3px 3px 10px #59DEFF;
	-ms-box-shadow: inset 3px 3px 10px #59DEFF;
	behavior: url(ie-css3.htc);
	color: #FFF;
}
.botao:active {
	background: #646473;
	color: #FFF;
	box-shadow: inset 2px 2px 3px #333;
	-webkit-box-shadow: inset 2px 2px 3px #333;
	-moz-box-shadow: inset 2px 2px 3px #333;
	-ms-box-shadow: inset 2px 2px 3px #333;
	behavior: url(ie-css3.htc);
}
input{
	background: #F8F8F8 url('../imagens/mglass.png') no-repeat 205px 4px;
	outline: none !important;
	padding: 5px 25px 5px 10px;
	border: 1px #ccc solid;
	width: 280px;
	margin-top: 1px;
	
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-ms-brder-radius: 20px;
	border-radius: 20px;
	
	box-shadow: inset 2px 2px 3px #999;
	-webkit-box-shadow: inset 2px 2px 3px #999;
	-moz-box-shadow: inset 2px 2px 3px #999;
	-ms-box-shadow: inset 2px 2px 3px #999;
	behavior: url(ie-css3.htc);
	
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
}
input:hover{
	border-color: #09A1A1;
	background: #fff;
}
input:focus{
	border-color: #0099cc;
	background: #fff;
	outline-offset:-1px
}
select {
	outline:none;
	border: 1px solid black;
	box-shadow: 0px 0px 0px #000;
	width: 317px;
}
.select-cpf-cnpj {
	width:60px;
}
#legend {
	width: 100%;
	float: left;
	text-align: center;
	height: 40px;
	background: -moz-linear-gradient(top, #09A1A1, #09A1A1);
	background: -ms-linear-gradient(top, #09A1A1, #09A1A1);
	background: -webkit-gradient(linear, left top, left bottom, from(#09A1A1), to(#09A1A1));
	background-image: -o-linear-gradient(top, #09A1A1, #09A1A1);
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#007FFF', EndColorStr='#4985C5');
	line-height: 22px;
	margin-top: -24px;
	color: #000;
	font-weight: bold;
}
h3 {
	font-weight: bold;
	color: rgb(113, 112, 101);
	margin: 10px 0px;
	text-align: center;
}
#login {
	text-align: center;
	width: 28%;
	margin: 40px auto 0px;
}
header {
	width: 100%;
	height: 150px;
	background: url(../imagens/setas.jpg) repeat-x;
	margin: 0px;
	padding: -21px;
}

#header-background {
	width: 100%;
	height: 150px;
	background: url(../imagens/wr-%20baner.jpg) no-repeat right;
	margin: 0px;
	padding: 0px;
}
nav {
	margin: 0 auto 10px;
	text-align: center;
}
figure {
	padding: 0px;
}

#upvendas{
	float: left;
	width: 356px;
	height: 122px;
}

#saudacao {
	float: left;
	margin-left: 3%;
	width: 24%;
	height: 116px;
	font-weight:bold;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	padding: 20px 100px;
}
#saudacao img {
	float: left;
    
	margin: -10px 9px 0px 38px;
	width: 28%;
    
	height: 99%;
    
	border: 3px solid #FFFFF;
    -moz-border-radius: 5px;
    
	-webkit-border-radius: 5px;
}
#tempo {
    width: 310px;

    margin: auto;
}
#busca_cliente {
	width:400px;
	height:auto;
	margin:auto;
}
#rodape {
	width:100%;
	height:50px;
	padding: 8px 0px 0px 8px;
	background: -moz-linear-gradient(top, #007FFF, #4985C5);
	background: -webkit-gradient(linear, left top, left bottom, from(#007FFF), to(#4985C5));
	background-image: -o-linear-gradient(top, #007FFF, #4985C5);
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#007FFF', EndColorStr='#4985C5');
	bottom:0;
    display:block;
    position:fixed;
    z-index:1000;	
}